.hidden {
    display: none;
}
.clear {
    clear: both;
}

.errors-wrapper .alert {
    margin-bottom: 10px;
}
.errors-wrapper .alert:last-child {
    margin-bottom: 20px;
}
.answer-wrapper.invalid input {
    background: #f2dede;
}
.tagit .tagit-new input[type="text"] {
    width: 220px;
}
.question-categories .ui-widget-content.tagit-choice {
    border-color: #337ab7;
}
.question-categories .ui-widget-content.tagit-choice .tagit-close {
    color: #fff;
}
.answer-wrapper {
    margin-top: 10px;
}
.add-answer {
    margin-bottom: 10px;
}
.flag-correct-hint {
    padding: 6px;
}
.answer-template {
    display: none;
}
.answer-correct-toggle,
.answer-correct-toggle label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.answer-correct-toggle label {
    margin: 0;
}
.correct-switch {
    display: none;
}
.answer-correct-ok {
    color: #080;
}
.answer-correct-wrong {
    color: #f00;
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.glyphicon-spin {
    -webkit-animation: spin-webkit 2s infinite linear;
    animation: spin 2s infinite linear;
    margin-right: 3px;
    display: none;
}
.processing .glyphicon-spin {
    display: inline-block;
}